.config-page {
    padding: 1rem;
}

.config-page>h3 {
    text-align: center;
}

.board-configuration {
    display: flex;
    margin: 5rem 1rem;
}

.soundboard-configure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto 3rem auto auto;
    height: 300px;
    width: 300px;
}

.soundboard-configure>.sample-pad>* {
    height: 5rem;
    width: 5rem;
    margin: auto;
}

.config-pad-details {
    display: inline-block;
    position: absolute;
}

.sample-list-configure {
    justify-content: flex-start;
    width: 33%;
}

.sample-list-configure>* {
    margin: 0;
}

.sample-list-configure .sample-name {
    margin-left: 0;
}

.sample-list-configure .delete-sample-btn,
.sample-list-configure .sample-duration {
    display: none;
}