.config-page {

}

.config-page>h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.board-configuration {
    display: flex;
    margin: 3rem 1rem;
}

/* The counterpart to .soundbar-main in ./sound-board.css */
.soundboard-configure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
     height: 300px;
    width: 300px;
    margin-left: 3rem;
}

.soundboard-configure>.config-pad>* {
    height: 5rem;
    width: 5rem;
    margin: auto;
}

.config-pad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.config-pad[data-config-mode="edit"] {
    filter: blur(2px)
}

.config-pad[data-config-mode="edit"]:hover {
   border: 3px solid rgba(0, 100, 159, .9); 
   border-radius: 5px;
   filter: none;
}

.config-pad-details {
    position: absolute;
}

.sample-hover-add-btn {
    padding: .1rem .3rem;
    cursor: pointer;
    background-color: rgba(0, 59, 173, .7);
}

.sample-list-configure {
    width: 300px; 
    margin-top: 1rem;
    margin-left: 3rem;
 }

.sample-list-configure>* {
    margin: 0;
}

.sample-list-configure > .sample-list-item {
}

.sample-list-configure .delete-sample-btn,
.sample-list-configure .sample-duration {
    display: none;
}

.config-tools-section {
    display: flex;
    justify-content: center;
}
.reset-pads-btn {
    
    padding: 3px 5px;
    font-size: 80%;
}