.main-nav {
   display: flex;
   align-items: center;
   margin-top: 0;
   border-bottom: 2px solid white;

   padding-bottom: 3px;
text-transform: uppercase;
}

.main-nav>p {
   margin: 0 .2rem;
   cursor: pointer;
   padding: 3px;
}

.main-nav>span {
   color: black;
   font-size: 115%;
}

.main-nav>p:hover {
   text-decoration: overline 1px white;
}