.sample-list {
    max-width: 34rem;
    margin: 3rem auto;
}

.sample-list-item {
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.sample-name {
    margin: auto 1rem;
}

.sample-list-item:hover > .sample-name {
    color: rgba(200, 230, 240, .9);
    cursor: pointer;
}

.delete-sample-btn {
     cursor: pointer;
}

.file-drop-zone {
  color: rgba(0, 59, 120, 1);
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

