.sample-list-manager {
    max-width: 66%;
    margin: 3rem auto;
}

.sample-list-item {
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.sample-list-item[data-play-state=true] {
}

.animate-bar {
    background-color: black;
    height: 3px;
    width: 0px;
    z-index: 3;
}

.sample-name {
    display: flex;
    justify-content: flex-start;
    margin: auto auto auto 3rem;
    text-align: left;
}

.sample-list-item:hover > .sample-name {
    color: rgba(200, 230, 240, .9);
    cursor: pointer;
}

.delete-sample-btn {
     cursor: pointer;
     width: 1rem;
}

.delete-sample-btn:hover {
     color: red;
}

.file-drop-zone {
  color: rgba(0, 59, 120, 1);
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

@keyframes play-sample {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}